#border{
     height: 50px;
     text-decoration: chartreuse;
     border-style: double;
     border-color: aqua;
     background-color: chocolate;
     text-align: center;
     text-decoration-line: overline;
     font-size: x-large;
}
#s1{
    width: 150px;
    height: 150px;
    color: blue;
    margin-left: 550px;
    border-radius: 50%;
    
     position:absolute;
     bottom: 300px;
    
    }
#s1:hover{
    opacity: .5;}

    #s2:hover{
    opacity: .5;}
    #s3:hover{
    opacity: .5;
}
#s2{
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 50%;
   
    margin-left: 90px;
    position: absolute;
    bottom: 300px;
}
#s3{
    width: 150px;
    height: 150px;
    background-color: burlywood;
    border-radius: 50%;
    margin-left: 320px;
    position: absolute;
    bottom: 300px;
    
}

.btn1{
    border-radius: 50px;
    width: 60px;
    height: 30px;
position: absolute;
text-align: center;
bottom: 200px;
margin-left: 200px;
background-color: forestgreen;
color: yellow;
text-decoration: double;
}

.btn2{
    border-radius: 50px;
    width: 110px;
    height: 30px;
    text-align: center;
position: absolute;
bottom: 200px;
margin-left: 400px;
background-color: gold;
text-decoration: double;
}
#msg{
    border-radius: 40px;
    margin-left: 280px;
    position: absolute;
    bottom: 130px;
    border-style: double;
    text-align: center;
    background-color: beige;
    width: 140px;
    height: 30px;
}
.btn1, .btn2 {
    
    font-weight: bold;
    font-size: 17px;
}
#msg {

    font-size: 20px;
    height: 40px;
    line-height: 40px;
}

#border {
    text-decoration: none;  
}
h3{
    position: absolute;
    bottom: 50px;
}
pre{ position: absolute;
    bottom: 20px;
     border-style: double;
    border-radius: 50px;
    text-align: center;
    margin-left: 2px;
    width: 200px;
    height: 20px;
    background-color: darkcyan;
font-size: larger;
font-style: italic;
}
.feedback{
    text-shadow: 2px;
    position: absolute;
    bottom: 5px;
    margin-left: 400px;
    background-color: hotpink;
    text-align: center;
    height: 60px;
    width: 200px;
}
.sb{
    position: absolute;
    bottom: 5px;
    margin-left: 300px;
    background-color: darkorchid;
    border-style: dashed;
    font-size: larger;
  
}
.sb:hover{
    opacity: .4;
    background-color: aquamarine;
}